doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel="stylesheet", href="/stylesheets/login.css")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/index.css")
        script(type='text/javascript' src='/javascripts/deleteCategory.js')
  body
    header.header
      a(href='/')
        .redirectImgDiv
          img(src="https://i.ibb.co/5LrJRgm/logo-1.png" class='logo')
      .tabs
      if locals.authenticated
        h6
          .addTask
          a(href='/tasks' style="text-decoration:none") Random Task
            //- button(id='add_task') random Task
        h6
          .randomTask
          a(href='/tasks/create' style="text-decoration:none") Add Task
            //- button(id='add_task') Add Task
        h6
          a(href="/tasks" style="text-decoration:none") My Tasks
        h6
          a(href="/users/logout" style="text-decoration:none") Logout
      else
        h6
          a(href="/users/login" style="text-decoration:none") Login
        h6
          a(href="/users/register" style="text-decoration:none") Signup
    .body
      if locals.authenticated
        nav.side-bar
            ul
              li
                a(href='/categories/create') Add a category
                //- add a category/ regular first then ajax if possible
                each category in categories
                  li
                    a(href=`/categories/${category.id}`)
                      span #{category.title}
                        button(class='categoryDeleteBtn' id=`${category.id}`).toDelete Delete
                          //- a(href=`/categories/delete/${category.id}`)
      block content
